@model ProjectGuard.Models.ProjectFileListViewModel

<script src="~/js/project-file-list.js" asp-append-version="true"></script>

<div class="row project-table-head">
    <div class="col-3">Файл</div>
    <div class="col-3">Требуется проверка</div>
    <div class="col-3">Хеш-значение</div>
    <div class="col-3"></div>
</div>

@if (Model.ProjectDirectory.HashValueRows.Count != 0 || Model.ProjectDirectory.ProjectDirectories.Count != 0)
{
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "filesForm" }))
    {
        @Html.Hidden("projectId", Model.Project.Id)
        {
            int id = 0;
            <ul id="myUL">
                @{
                    void PrintDirectory(ProjectDirectory projectDirectoryRoot, int offset = 0)
                    {
                        var liId = "li" + id;
                        var caretId = "caret" + id;
                        <li id="@liId">
                            <div class="row project-table-data-row">
                                <div class="col data-name">
                                    @for (int i = 0; i < offset; i++)
                                    {
                                        <span class="mx-2"></span>
                                    }
                                    <i class="fas fa-folder project-file-icon"></i>
                                    <a class="custom-drop caret" id="@caretId">@projectDirectoryRoot.Name</a>
                                </div>

                                <div class="col">
                                    <input type="checkbox" id="@id" onchange="setChildCheckboxes(this.id, this.checked);">
                                </div>

                                <div class="col data-name">-</div>
                                <div class="col data-name"></div>
                            </div>

                            @{var nestedId = "nested" + id++;}
                            <ul class="nested" id="@nestedId">
                                @foreach (var projectDirectory in projectDirectoryRoot.ProjectDirectories)
                                {
                                    PrintDirectory(projectDirectory, offset + 1);
                                }

                                @foreach (var hashValue in projectDirectoryRoot.HashValueRows)
                                {
                                    <li>
                                        <div class="row project-table-data-row">
                                            <div class="col data-name">
                                                @for (int i = 0; i < offset + 1; i++)
                                                {
                                                    <span class="mx-2"></span>
                                                }
                                                <i class="fas fa-file project-file-icon"></i>
                                                <a>@hashValue.ShortName</a>
                                            </div>

                                            <div class="col">
                                                <input type="checkbox" class="not-directory" value="@hashValue.Id" checked="@hashValue.NeedHash" name="hashValueIds" onClick="changeFileNeedHash(@hashValue.Id, this.checked)">
                                            </div>

                                            <div class="col data-name">@hashValue.Hash</div>
                                            <div class="col data-name"></div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    foreach (var projectDirectory in Model.ProjectDirectory.ProjectDirectories)
                    {
                        PrintDirectory(projectDirectory);
                    }
                }
            </ul>

            <div class="row">
                <button type="button" class="btn btn-dark button-marg button-preloader" id="button-hash" onclick="hashFiles()">Хешировать</button>
                <button type="button" class="btn btn-dark button-marg button-preloader" id="button-check" onclick="checkFiles()">Проверить</button>
                <button type="button" class="btn btn-danger button-marg button-preloader" id="button-delete" onclick="deleteProject()">Удалить</button>
            </div>
        };
    }
}
