@model ProjectGuard.Ef.Entities.Project

<div class="row project-table-head">
    <div class="col-3">Файл</div>
    <div class="col-3">Требуется проверка</div>
    <div class="col-3">Хеш-значение</div>
    <div class="col-3"></div>
</div>
@if (Model.HashValues.Count > 0)
{
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "filesForm" }))
    {
        @Html.Hidden("projectId", Model.Id)

        @foreach (var hashValue in Model.HashValues)
        {
            <div class="row project-table-data-row">
                <div class="col-3 data-name">
                    <i class="fas fa-folder project-file-icon"></i>
                    <a href="" title="Formulae">@hashValue.FileName</a>
                </div>

                <div class="col-3">
                    @*@Html.CheckBox("hashValueIds", null, new { @class = "form-check-input", @value = @hashValue.Id, @checked = @hashValue.NeedHash }) //это не работает D:*@
                    <input type="checkbox" value="@hashValue.Id" checked="@hashValue.NeedHash" name="hashValueIds">
                </div>

                <div class="col-3 data-info">@hashValue.Hash</div>
                <div class="col-3 data-info"></div>
            </div>
        }
        <div class="row">
            <button type="button" class="btn btn-dark button-marg" onclick="hashFiles()">Хешировать</button>
            <button type="button" class="btn btn-dark button-marg" onclick="checkFiles()">Проверить</button>
        </div>
    }
}
